.bg {
  background-image: url('./images/bg.jpg');
  background-size: contain;
  width: 100vw;
  height: 130vh;

  z-index: 3;
  background-repeat: no-repeat;
}

.navbar {
  height: 80px;
  transition: height 0.3s;
  background-color: transparent;
  z-index: 2;
  border-bottom: 1px solid gray;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: white;
}
.changed .nav-link {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.nav-item .dropdown-menu {
  display: block;
  visibility: hidden;
  position: absolute;

  /* width: 80px;
  transition: width 2s ease-out; */
  background-color: #f1f1f1;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
}
.title {
  color: white;
  padding-top: 7%;
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
}
.tagline {
  font-size: 2rem;
  font-weight: 400;
}
.buttons {
  text-align: center;
}
.btn_1 {
  margin: 1%;
  size: 40%;
}
.btn_2 {
  margin: 1%;
}
/* .dropdown-menu.fade-up {
  /* top: 200%; */
/* } */
/* .dropdown-menu.fade-down {
  /* top: 80%; */
/* transform: rotateX(-75deg); */
/* transform-origin: 0% 0%; */
/* } */
*/ */ .nav-item:hover .dropdown-menu {
  /* animation: fadein 2s; */
  /* -webkit-animation: fadein 2s; */
  /* width: 120px; */
  /* transform: scaleX(1.8); */
  /* transition: width 7.8s ease-in; */
  visibility: visible;
  /* top: 100% */
  /* transform: rotateX(0deg); */
  animation: growOut 300ms ease-out backwards;
  transform-origin: top center;
}

@keyframes growOut {
  0% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* @keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
/* @-webkit-keyframes fadein {
  /* Safari and Chrome */
/* from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
*/
/* .dropdown-menu a {
  color: gray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

.dropdown-menu a:hover {
  color: lightslategray;
}

/* .nav-item {
  color: white;
} */
.resize {
  height: 60px;
  background-color: white;
}
.section_2 {
  padding-top: 5%;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10%;
}

.section_2 p {
  font-size: 1rem;
  font-weight: 100;
}
.section_3 {
  text-align: center;
  background-image: url('./images/bg2.jpg');
  font-size: 2rem;
  font-weight: 900;
}
.btn-primary{
  margin-top: 10%;
}
